:host {
  display: block;
  position: relative;
  height: 300px;

  .container {
    width: 100%;
    height: 100%;

    .node {
      text {
        transition: all 150ms ease-out;
      }
      &:hover {
        text {
          font: var(--tui-font-text-m);
        }
        circle {
          fill: var(--tui-support-16);
        }
      }

      circle {
        fill: var(--tui-support-15);
        transition: all 150ms ease-out;
      }
    }

    .edge {
      stroke: #000;
      transition: all 150ms ease-out;
      path {
        transition: all 150ms ease-out;
      }
      text {
        transition: all 150ms ease-out;
        transform: translateY(-10px);
      }
      textPath {
        stroke: none;
      }

      &:hover {
        stroke-width: 1.2;
        text {
          font: var(--tui-font-text-m);
        }
      }
    }
  }
}

.edge-ralations {
  padding: 10px 12px;

  .relevance {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .tui-table__td {
    height: auto;
    padding: 0 16px;
  }
}
